/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/rnasplice Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                      = null
    contrasts                  = null
    source                     = 'fastq'

    // References
    genome                     = null
    transcript_fasta           = null
    gtf_extra_attributes       = 'gene_name'
    gtf_group_features         = 'gene_id'
    gencode                    = false
    save_reference             = false
    igenomes_base              = 's3://ngi-igenomes/igenomes'
    igenomes_ignore            = false

    // Trimming
    clip_r1                    = null
    clip_r2                    = null
    three_prime_clip_r1        = null
    three_prime_clip_r2        = null
    trim_nextseq               = null
    save_trimmed               = false
    skip_trimming              = false
    skip_trimgalore_fastqc     = false

    // Alignment
    aligner                    = 'star'
    pseudo_aligner             = 'salmon'
    bam_csi_index              = false
    seq_center                 = null
    salmon_quant_libtype       = null
    star_ignore_sjdbgtf        = false
    skip_alignment             = false
    save_unaligned             = false
    save_align_intermeds       = false
    save_merged_fastq          = false

    // QC
    skip_bigwig                = true
    skip_fastqc                = false

    // rMATs
    rmats                      = true
    rmats_splice_diff_cutoff   = 0.0001
    rmats_paired_stats         = true
    rmats_read_len             = 40
    rmats_novel_splice_site    = false
    rmats_min_intron_len       = 50
    rmats_max_exon_len         = 500

    // DEXSeq DEU
    dexseq_exon                = true
    save_dexseq_annotation     = false
    gff_dexseq                 = null
    alignment_quality          = 10
    aggregation                = true
    save_dexseq_plot           = true
    n_dexseq_plot              = 10

    // edgeR DEU
    edger_exon                 = true
    save_edger_plot            = true
    n_edger_plot               = 10

    // DEXSeq DTU
    dexseq_dtu                 = true
    dtu_txi                    = 'dtuScaledTPM'

    // Miso
    sashimi_plot               = true
    miso_genes                 = 'ENSG00000004961, ENSG00000005302'
    miso_genes_file            = null
    miso_read_len              = 75
    fig_width                  = 7
    fig_height                 = 7

    // DRIMSeq Filtering
    min_samps_feature_expr     =  2
    min_samps_feature_prop     =  2
    min_samps_gene_expr        =  4
    min_feature_expr           =  10
    min_feature_prop           =  0.1
    min_gene_expr              =  10

    // SUPPA options
    suppa                      = true
    suppa_per_local_event      = true
    suppa_per_isoform          = true
    suppa_tpm                  = null

    // SUPPA Generate events options
    generateevents_pool_genes  = true
    generateevents_event_type  = 'SE SS MX RI FL'
    generateevents_boundary    = 'S'
    generateevents_threshold   = 10
    generateevents_exon_length = 100
    psiperevent_total_filter   = 0

    // SUPPA Diffsplice options
    diffsplice_local_event     = true
    diffsplice_isoform         = true
    diffsplice_method          = 'empirical'
    diffsplice_area            = 1000
    diffsplice_lower_bound     = 0
    diffsplice_gene_correction = true
    diffsplice_paired          = true
    diffsplice_alpha           = 0.05
    diffsplice_median          = false
    diffsplice_tpm_threshold   = 0
    diffsplice_nan_threshold   = 0

    // SUPPA Cluster options
    clusterevents_local_event  = true
    clusterevents_isoform      = true
    clusterevents_sigthreshold = null
    clusterevents_dpsithreshold= 0.05
    clusterevents_eps          = 0.05
    clusterevents_metric       = 'euclidean'
    clusterevents_separation   = null
    clusterevents_min_pts      = 20
    clusterevents_method       = 'DBSCAN'

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                     = null
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'

    // Config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Load nf-core/rnasplice custom profiles from different institutions.
// Warning: Uncomment only if a pipeline-specific instititutional config already exists on nf-core/configs!
// try {
//   includeConfig "${params.custom_config_base}/pipeline/rnasplice.config"
// } catch (Exception e) {
//   System.err.println("WARNING: Could not load nf-core/config/rnasplice profiles: ${params.custom_config_base}/pipeline/rnasplice.config")
// }

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 16
        executor.memory        = 60.GB
    }
    test                   { includeConfig 'conf/test.config'                   }
    test_full              { includeConfig 'conf/test_full.config'              }
    test_edger             { includeConfig 'conf/test_edger.config'             }
    test_rmats             { includeConfig 'conf/test_rmats.config'             }
    test_dexseq            { includeConfig 'conf/test_dexseq.config'            }
    test_suppa             { includeConfig 'conf/test_suppa.config'             }
    test_fastq             { includeConfig 'conf/test_fastq.config'             }
    test_genome_bam        { includeConfig 'conf/test_genome_bam.config'        }
    test_transcriptome_bam { includeConfig 'conf/test_transcriptome_bam.config' }
    test_salmon_results    { includeConfig 'conf/test_salmon_results.config'    }
}

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nf-core/rnasplice'
    author          = """Ben Southgate, James Ashmore"""
    homePage        = 'https://github.com/nf-core/rnasplice'
    description     = """Alternative splicing analysis using RNA-seq."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0dev'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
