/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnasplice -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions

    max_cpus   = 1
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data human chr X from hisat2 stringtie

    input = 'https://raw.githubusercontent.com/zifornd/test-datasets/main/samplesheet/rnasplice/samplesheet_test.csv'

    // Genome references human chr X from hisat2 stringtie

    fasta = 'https://raw.githubusercontent.com/zifornd/test-datasets/main/testdata/Pertea_2016/rnasplice/X.fa.gz'
    gtf   = 'https://raw.githubusercontent.com/zifornd/test-datasets/main/testdata/Pertea_2016/rnasplice/genes_chrX.gtf'

    pseudo_aligner = 'salmon'

}
