/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnasplice -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    // Config information
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test dataset to check IsoformSwitchAnalyzeR module'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input     = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/samplesheet/samplesheet_full.csv'
    contrasts = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/samplesheet/contrastsheet_full.csv'
    source    = 'fastq'

    // Genome references
    genome         = 'GRCh37'

    // Other parameters
    isoformswitchanalyzer_alpha= 0.5
    rmats          = false
    dexseq_exon    = false
    edger_exon     = false
    dexseq_dtu     = false
    suppa          = false
    sashimi_plot   = false

}
