/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the DEXSeq exon analysis from a user
    supplied, gzipped DEXSeq annotation instead of flattening the GTF.

    Use as follows:
        nextflow run nf-core/rnasplice -profile test_dexseq_gff,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    // Config information
    config_profile_name        = 'DEXSeq user supplied GFF test profile'
    config_profile_description = 'Minimal test dataset to check the DEXSeq subworkflow with --gff_dexseq'

    // Input data
    input     = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/samplesheet/samplesheet.csv'
    contrasts = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/samplesheet/contrastsheet.csv'
    source    = 'fastq'

    // Genome references
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/reference/X.fa.gz'
    gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/reference/genes_chrX.gtf'

    // Pre-flattened DEXSeq annotation, gzipped so that PREPARE_GENOME has to run
    // GUNZIP_GFF_DEXSEQ before DEXSEQ_DEU can use it
    gff_dexseq = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/testdata/dexseq/genes_chrX.DEXSeq.gff.gz'

    // Other parameters. Only the DEXSeq exon analysis is under test here
    dexseq_exon           = true
    dexseq_dtu            = false
    edger_exon            = false
    rmats                 = false
    suppa                 = false
    isoformswitchanalyzer = false
    sashimi_plot          = false

}
// Limit resources so that this can run on GitHub Actions
process {
  resourceLimits = [
    cpus: 2,
    memory: 6.GB,
    time: 6.h
  ]
}
