/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnasplice -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    // Config information
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check rMATS subworkflow'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input     = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/samplesheet/samplesheet.csv'
    contrasts = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/samplesheet/contrastsheet.csv'
    source    = 'fastq'

    // Genome references
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/reference/X.fa.gz'
    gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/reference/genes_chrX.gtf'

    // Other parameters
    pseudo_aligner = false
    dexseq_exon    = false
    edger_exon     = false
    dexseq_dtu     = false
    suppa          = false

}
