/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnasplice -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '16.GB'
    max_time   = '6.h'

    // Input data yeast rnaseq
    
    input              = 'https://raw.githubusercontent.com/zifornd/test-datasets/main/samplesheet/rnasplice/samplesheet.csv'

    // Input data human single chr 22

    // input              = 'https://raw.githubusercontent.com/zifornd/test-datasets/main/samplesheet/rnasplice/samplesheet_single.csv'

    // Input data human full genome subsampling (from rmats paper)

    // input               = 'https://raw.githubusercontent.com/zifornd/test-datasets/main/samplesheet/rnasplice/samplesheet_rmats.csv'

    // Genome references yeast

    fasta              = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fasta'
    gtf                = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf.gz'
    gff                = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff.gz'
    transcript_fasta   = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/transcriptome.fasta'
    salmon_index       = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/salmon.tar.gz'

    // Genome references human chr 22

    // fasta               = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    // gtf                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.gtf'
    // transcript_fasta    = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/transcriptome.fasta'
    // salmon_index        = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/index/salmon'

    // Genome references human full from igenomes

    // fasta               = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa'
    // gtf                 = 's3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf'
    // star_index          = '../test-datasets-rnasplice/aws/references/Homo_sapiens/Ensembl/GRCh37/Sequence/STARIndex'
    // salmon_index        = '~/Documents/test-datasets-rnasplice/salmon.tar.gz'
    // transcript_fasta    = '~/Documents/test-datasets-rnasplice/rsem/genome.transcripts.fa'

    pseudo_aligner      = null

}
