/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnasplice -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions

    max_cpus   = 1
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data human chr X from hisat2 stringtie

    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/samplesheet/samplesheet.csv'

    // Genome references human chr X from hisat2 stringtie

    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/reference/X.fa.gz'
    gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnasplice/reference/genes_chrX.gtf'

    // SUPPA options
    suppa                      = true
    suppa_per_local_event      = true
    suppa_per_isoform          = true
    suppa_tpm                  = null

    // SUPPA Generate events options
    generateevents_pool_genes  = true
    generateevents_localevents = 'SE SS MX RI FL'
    generateevents_boundary    = 'S'
    generateevents_threshold   = 10
    generateevents_exon_length = 100
    psiperevent_total_filter   = 0

    // SUPPA Diffsplice options
    diffsplice_local_event     = true
    diffsplice_isoform         = true
    diffsplice_method          = 'empirical'
    diffsplice_area            = 1000
    diffsplice_lower_bound     = 0
    diffsplice_gene_correction = true
    diffsplice_paired          = true
    diffsplice_alpha           = 0.05
    diffsplice_median          = false
    diffsplice_tpm_threshold   = 0
    diffsplice_nan_threshold   = 0

    // SUPPA Cluster options
    clusterevents_local_event  = true
    clusterevents_isoform      = true
    clusterevents_sigthreshold = null
    clusterevents_dpsithreshold= 0.05
    clusterevents_eps          = 0.05
    clusterevents_metric       = 'euclidean'
    clusterevents_separation   = null
    clusterevents_min_pts      = 20
    clusterevents_method       = 'DBSCAN'

    // Additional
    aligner = 'star_salmon'
    pseudo_aligner = 'salmon'
    skip_alignment = false
    rmats = false
    dexseq_exon = false
    edger_exon = false
    dexseq_dtu = false

}
